.meatless {
	background-color: #DFF0D8;
}
.vegan {
	/* todo */
}
.containsmeat {
	/* none */
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
}
.navbar {
	line-height: 50px;
	height: 50px;
}
.about-notice {
	margin-right: 20px;
}
.currency {
	margin-left: -4px;
}

table td:nth-child(1) {
	min-width: 70px;
}
.today {
	background-color: #D9EDF7 !important;
}
