.today {
	background-color: #D9EDF7 !important;
}

.meatless {
	background-color: #DFF0D8 !important;
}
.vegan {
	/* todo */
}
.containsmeat {
	/* none */
}
.meal-price  {
	vertical-align: bottom;
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
}
.navbar {
	line-height: 50px;
	height: 50px;
}
.about-notice {
	margin-right: 20px;
}
.other-prices {
	margin-right: -2px;
}
.currency {
	margin-left: -4px;
}

table td:nth-child(1) {
	min-width: 70px;
}

.herzlol {
	color: #C1005D;
}
