<!DOCTYPE html>
<html data-ng-app="canteen" data-ng-controller="CanteenCtrl" lan="de">
<head>
	<meta chatset="utf-8">
	<title>{{lastResult.menu.info.name || 'Mensaplan lädt...'}}</title>

	<meta name="autor" content="Niklas Mollenhauer <holzig@outlook.com>">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- CDN for production environment -->
	<!-- <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1 class="page-header">
			<span class="glyphicon glyphicon-cutlery"></span>
			{{lastResult.menu.info.name || 'Lade Mensaplan...'}}
		</h1>
		<div data-ng-show="isError">
			<h2>Es trat ein Fehler auf. Bitte versuche es später noch ein mal.</h2>
		</div>
		<div data-ng-hide="isLoading || isError">
			<h4 class="pull-right">Essensplan vom {{lastResult.menu.validity.from | date: 'dd.MM.yy'}} bis zum {{lastResult.menu.validity.until | date: 'dd.MM.yy'}}</h4>
			<a data-ng-repeat="(cant, disp) in supportedCanteens" class="btn btn-small" data-ng-href="#{{cant}}">{{disp}}</a>
			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th data-ng-repeat="wd in validWeekdays">{{wd}}</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="(gen, spec) in lastResult.menu.meals">
						<td>{{gen}}</td>
						<td data-ng-repeat="(dayOfWeek, meal) in spec"
							data-ng-class="getMealClass(meal)">
							<span data-ng-show="meal != null">
								<span>{{meal.name}}</span>
								<span class="glyphicon glyphicon-tree-deciduous" data-ng-show="isVegan(meal)"></span>
								<span><strong>{{meal.price.student | currency: lastResult.menu.currency}}</strong>/{{meal.price.employee | currency: lastResult.menu.currency}}/{{meal.price.foreign | currency: lastResult.menu.currency}}</span>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- CDN for production environment -->
	<!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js"></script> -->
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
