<!DOCTYPE html>
<html data-ng-app="canteen" data-ng-controller="CanteenCtrl" lan="de">
<head>
	<meta chatset="utf-8">
	<title>{{lastResult.menu.info.name || 'Mensaplan lädt...'}}</title>

	<meta name="autor" content="Niklas Mollenhauer <holzig@outlook.com>">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- CDN for production environment -->
	<!-- <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<div class="container">
		<header class="page-header">
			<h1>
				<span class="glyphicon glyphicon-cutlery"></span>
				{{lastResult.menu.info.name || 'Lade Mensaplan...'}}
				<small data-ng-hide="isLoading || isError">
					Essensplan vom {{lastResult.menu.validity.from | date: 'dd.MM.yy'}} bis zum {{lastResult.menu.validity.until | date: 'dd.MM.yy'}}
				</small>
			</h1>
		</header>
		<div data-ng-show="isError">
			<h2>Es trat ein Fehler auf. Bitte versuche es später noch ein mal.</h2>
		</div>
		<div data-ng-hide="isLoading || isError">
			<h4 class="pull-right"></h4>
			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th data-ng-repeat="wd in validWeekdays">{{wd}}</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="(gen, spec) in lastResult.menu.meals">
						<td>{{gen}}</td>
						<td data-ng-repeat="(dayOfWeek, meal) in spec"
							data-ng-class="getMealClass(meal)">
							<span data-ng-show="meal != null">
								<div>
									<span>{{meal.name}}</span>
									<span class="glyphicon glyphicon-tree-deciduous" data-ng-show="isVegan(meal)"></span>
								</div>
								<div class="pull-right">
									<small>{{meal.price.foreign | number: 2}}/{{meal.price.employee | number: 2}}/</small>
									<strong>{{meal.price.student | number: 2}}</strong>
									<small>{{lastResult.menu.currency}}</small>
								</div>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer>
			<nav class="navbar navbar-default navbar-fixed-bottom">
				<ul class="nav navbar-nav">
					<li data-ng-repeat="(cant, disp) in supportedCanteens">
						<a data-ng-href="#{{cant}}" data-ng-class="currentCanteen == cant ? 'active' : ''">{{disp}}</a>
					</li>
				</ul>
				<span class="pull-right legal-notice">Alle Angaben ohne Gewähr und so.</span>
			</nav>
		</footer>
	</div>
	<!-- CDN for production environment -->
	<!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js"></script> -->
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
