<div class="home">
  <div class="panel panel-default">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Montag</th>
          <th>Dienstag</th>
          <th>Mittwoch</th>
          <th>Donnerstag</th>
          <th>Freitag</th>
        </tr>
      </thead>
      <tbody>
        {% for mealType in canteen.meals %}
        <tr>
          <td>{{mealType[0]}}</td>
          {% for meal in mealType[1] %}
          <td>
            {% if meal[1] != null %}
              <div>
                <span>{{meal[1].name}}</span>
              </div>
              <div>
                <small class="other-prices">
                  {{meal[1].price.visitor | number: 2}}/{{meal[1].price.employee | number: 2}}/
                </small>
                <strong>{{meal[1].price.student | number: 2}}</strong>
                <small class="currency">{{lastResult.menu.currency}}</small>
              </div>
            {% endif %}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
