<footer class="footer">
  <div class="container">
    <span class="text-muted">
      Made with <span class="herzlol">❤</span> und Mensaessen. {{ site.description }} <a href="site.source_code_url">{{ Quelltext dieser Webseite }}</a>, Gehostet auf <a href="//github.com/nikeee/canteen">GitHub Pages</a>.</span>
  </div>
</footer>

<script type="text/javascript" src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script>
  (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,"script","//www.google-analytics.com/analytics.js","ga");
  ga("create", "UA-54947740-1", "auto");
  ga("send", "pageview");
</script>
